<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/homeNavbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <% result.articles.rows.forEach(article => { %>
            <div class="card">
                <div class="card card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-primary">Ler Artigo</a>
                </div>
                <br>
            </div>
            <br>
        <% }) %>

        <div class="row">
            <div class="col col-12">
                <% if(result.next) { %>
                    <a style="float:right" href="/articles/page/<%= result.page + 1 %>">Next</a>
                
                <% } %>
            </div>
        </div>
        <hr>
    </div>
</body>
<%- include ('../../partials/footer.ejs') %>